/* color palette from https://www.color-hex.com/color-palettes */
:root {
	--darkest-color: #f2d1a9;
	--lightest-color: #ffffff;
	--highlight-color:#ffffff;
	--bright-color-1: #de7c59;
	--bright-color-2: #b65149;
	--bright-color-3: #cb8655;
	--bright-color-4: #f2a36e;
	
}

body {
	background: var(--darkest-color);
	color: var(--lightest-color);
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--lightest-color);
	margin: 0 auto;
}

.profile-pic {
	display: inline; 
	margin: 0 auto;
	height: 100%;
	width: 110%;
}

a {
	color: var(--lightest-color);
	text-decoration: none;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.link-list-item {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--darkest-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
}

.link-list-item:hover,
a:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
	text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.dark {
	background: var(--bright-color-1);
}

.medium {
	background: var(--bright-color-2);
}

.light {
	background: var(--bright-color-3);
}

.verylight {
	background: var(--bright-color-4);
}
