/* color palette from https://www.color-hex.com/color-palettes */
:root {
	--darkest-color: #cfdacb;
	--lightest-color: #ffffff;
	--highlight-color: #ffffff;
	--bright-color-1: #a9b1a6;
	--bright-color-2: #8ca3a6;
	--bright-color-3: #a18585;
	--bright-color-4: #6c5555;

}

body {
	background: url(bckgrnd.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--lightest-color);
	margin: 0 auto;
}

.profile-pic {
	display: block;
	margin: 0 auto;
	height: 110%;
	width: 100%;
}

a {
	color: var(--lightest-color);
	text-decoration: none;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.link-list-item {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--darkest-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 25px;
}

.link-list-item:hover,
a:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
	text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.dark {
	background: var(--bright-color-1);
}

.medium {
	background: var(--bright-color-2);
}

.light {
	background: var(--bright-color-3);
}

.verylight {
	background: var(--bright-color-4);
}